<footer id="showBtn">
    <div class="extra_infor" id="social">
        <div class="courses">
            <h3>Avalible Courses</h3>
            <ul>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
                <li>Lorem ipsum dolor sit</li>
            </ul>
        </div>
        <div class="clients">
            <h3>Clients</h3>
            <a href="#">reviews</a>
        </div>
        <div class="personal_infor">
            <h3>Social Media</h3>
            <ul class="social__medial">
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-pinterest"></i></li>
            </ul>
            <div class="infor_contact">
                <ul>
                    <li><i class="fas fa-phone-alt">: +58 424 555555</i></li>
                    <li><i class="fas fa-street-view">: Sabanales Street</i></li>
                </ul>
            </div> 
        </div>
    </div>
    <div class="btn__down" id="btn">
        <a href="#up">
            <i class="fas fa-angle-up"></i></a>
        </div>
    <div>
        <p>All rights reserved, © Copyright 2020, <a href="#">politics</a> </p>
    </div>
</footer>
</body>
</html>